
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Angular App</title>
  <base href="/">
</head>

<body style="background-color: blue;">
    
    <div class="wholepopup" style="background-color: blue;">
     
    <div class="popup" *ngIf="showElement">
        <button id="close">&times;</button>
        <h2>Automatic Pop-Up</h2>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita distinctio fugiat alias iure qui, commodi minima magni ullam aliquam dignissimos?
        </p>
        <a href="#">Add to favourites</a>
    </div>
</div>
    <!--Script-->
</body>

</html>