<section >
    <div class="colour"></div>
    <div class="colour"></div>
    <div class="colour"></div>
    <div class="box">
        
        <div class="container">
            <div class="form">
                <h2>Login</h2>
                <form>
                    <div  *ngIf="otp_verify"  class="input__box">
                        <input type="text" placeholder="phone_number" />
                    </div>
                  
                    <button *ngIf="otp_verify" type="button" (click)="verifyotppage()" >Send otp</button>
                    <div  *ngIf="!otp_verify" class="input__box">
                        <input type="text" placeholder="Verify otp" />
                    </div>
                    <button  *ngIf="!otp_verify" type="button">Verify otp</button>
                </form>
            </div>
        </div>
    </div>
</section>