
    .container {
      margin: 20px;
    
    }
    body{
        background-image: url('../../../assets/bkg7.jpeg');
        padding-top: 10%;
        padding-bottom: 40%;
        padding-left: 15%;
        padding-right: 30%;
        
    }
    .form-container {
      margin: 20px;
      padding: 20px;
      border: 1px solid #ccc;
    }
  
    .form-group {
      margin: 10px 0;
    }
  
    label {
      display: inline-block;
      width: 100px;
    }
  
    input[type="text"],
    input[type="date"],
    textarea {
      width: 300px;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 3px;
      font-size: 16px;
    }
  
    button[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }
    .add-movie {
        background-color: #007bff; /* blue background color */
        border: none; /* remove button border */
        color: white; /* white text color */
        padding: 10px 20px; /* add some padding to make button bigger */
        font-size: 16px; /* increase font size */
        cursor: pointer; /* add pointer cursor on hover */
        border-radius: 5px; /* add rounded corners */
      }
      
      .add-movie:hover {
        background-color: #0069d9; /* darker blue on hover */
      }
      
 
  